@import "vars";

.footer {
  &__inner {
    padding: 3.75rem 0;
    display: grid;
    grid-template-columns: 43.399rem 29.601rem;
  }
  &__logo {
    padding-bottom: 1.25rem;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645c55;
    margin: 0;
  }
  &__social {
    display: flex;
    gap: 1.25rem;
    align-items: flex-end;
    justify-content: flex-end;
    img {
      width: 1.5rem;
      height: 1.563rem;
    }
  }
}
